
# pyenv version file
.python-version

# Python
*.py[co]

## Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
deb_dist
develop-eggs
.installed.cfg

## Installer logs
pip-log.txt

## Unit test / coverage reports
.coverage
.tox

# Stupid OS X files
.DS_Store

# Swap
*.swap
*.swp
*~
